<!<!DOCTYPE>
  <html lang="it">

  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
    <meta name="GraveHub" content="Applicazione per per gestire ed amministrare il patrimonio cimiteriale del territorio" />
    <title>GraveHub</title>

    <script src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"></script>
  </head>

  <body>
    <h1>GraveHub Test Server-Side Rendering</h1>
  </body>

  </html>
